@import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

.pro-list-button{
  margin-top: 12px;
  margin-right: 8px;
  margin-bottom: 12px;
}

.margin-top-8{
  margin-top: 8px;
}

.margin-right-8{
  margin-right: 8px;
}

.margin-bottom-8{
  margin-bottom: 8px;
}

.margin-left-8{
  margin-left: 8px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-top-12{
  margin-top: 12px;
}

.margin-right-12{
  margin-right: 12px;
}

.margin-bottom-12{
  margin-bottom: 12px;
}

.margin-left-12{
  margin-left: 12px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-left-20{
  margin-left: 20px;
}
